.App {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: wheat;
color: white;
}

.container {
  display: flex;
  border: 1px solid grey;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  color: white;
  background-color: purple;
  min-height: 550px;
  min-width: 450px;
}
h1{
  color: black;
}
label{
  display: block;
  text-align: left;
  width: 85%;
}

.todoForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 450px;
  gap: 10px;
  
}

.input1 {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: left;
}
.input2 {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.btn-go {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px 5px;
  width: 84%;
  background-color: blue;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.allTodos {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.singleTodo{
  border-radius: 20px;
  margin: 10px ;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  width: 80%;
  cursor: pointer;

}
.todoText {
  flex: 1;
}


.todoDate {
  font-size: 12px;
}
.btn-delete {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 0 5px;
  width: 15%;
  background-color: red;
  font-size: 15px;
  font-weight: 600;
  width: 75px;
  cursor: pointer;
}
.btn-close {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  width: 50%;
  background-color: goldenrod;
  font-size: 20px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.inlist-line{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex: 1;
  text-decoration: line-through black;
  color: black;
}

.inlist {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex: 1;
  color: black;
}

